# -------------------------------
# Maven build output
# -------------------------------
target/

# -------------------------------
# IntelliJ IDEA files
# -------------------------------
.idea/
*.iml
*.iws
out/

# -------------------------------
# Logs and temporary files
# -------------------------------
*.log
*.tmp
*.swp
*.bak
*.class

# -------------------------------
# OS-specific files
# -------------------------------
.DS_Store
Thumbs.db
